/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 300vh; /* Full viewport height */
}

.container {
    text-align: center;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    font-size: 1em;
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 300px;
}

button:hover {
    background-color: #39d4da;
}

p {
    font-size: 1.2em;
    color: #333;
    margin-top: 20px;
}

a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
}

a:hover {
    color: #39d4da;
}
